.button__dropdown__items {
    list-style: none;
}

.icon__button {
    font-size: 20px;
    color: var(--icon-color);
    cursor: pointer;
    transition: 0.25s ease-in;    
}

.icon__button:hover {
    color: var(--icon-hover-color);
}

.dropdown {  
    border: 1px solid var(--border-outline-dropdown);
    border-radius: 10px;
    width: 185px;
    padding: 10px;
    margin: 8px auto 0;
    position: absolute;
    margin-left: -9.2rem;
    z-index: 1;
    background: var(--background-color-dropdown);
}

.dropdown:after {
    content: "";
    display: block;
    position: absolute;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px 0 0 1px;
    width: 15px;
    height: 15px;
    top: -9px;
    right: 19px;
    background: inherit;

    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    }

.menu__items {
    display: flex;
    height: 50px;
    align-items: center;
    border-radius: 5px;
    transition: background 0.2s ease-in-out;
    padding: 0.5rem;
}

.menu__items:hover {
    background-color: var(--background-color-hover-dropdown);
}

.menu__items span {
    margin-top: 6px;
    font-size: 23px;
    margin-right: 10px;
    color: var(--icon-color);
}

.menu__items p {
    color: var(--icon-color)
}